<div class="jumbotron">
	<h1>About us</h1>

	<%= link_to "Ross","https://www.linkedin.com/profile/view?id=297509645&authType=NAME_SEARCH&authToken=8-Qy&locale=en_US&srchid=2975096451417313901226&srchindex=1&srchtotal=1&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A2975096451417313901226%2CVSRPtargetId%3A297509645%2CVSRPcmpt%3Aprimary", class: "btn btn-lg btn-info" %>
	<%= link_to "Zach","https://www.linkedin.com/profile/view?id=155749738&authType=NAME_SEARCH&authToken=59rE&locale=en_US&trk=tyah2&trkInfo=tarId%3A1417314061602%2Ctas%3Azachary%20ly%2Cidx%3A1-1-1", class: "btn btn-lg btn-info" %>
</div>

<div class="label">
<p>We are working on our One Month Rails Pinteresting app!</p>
</div>